[submodule "buildroot"]
	path = buildroot
	url = https://github.com/ariaboard-com/rockchip_rk3308_buildroot.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/ariaboard-com/rockchip_rk3308_kernel.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/ariaboard-com/rockchip_rk3308_uboot.git
